extends layout

block content
  .timeline
    .followings.half
      h2 팔로잉 목록
      if user.followings
        for following in user.followings
          div= following.nick
    .followers.half
      h2 팔로워 목록
      if user.followers
        for follower in user.followers
          div= follower.nick